.district,
.subway {
    width: 100%;
}

.city {
    width: 100%;
}

.location {
    gap: 1em;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .location {
        flex-direction: row;
        gap: 3em;
    }
}
