.employer {
    background-color: var(--background-main);
    padding: 0.5rem 1em;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
    overflow-wrap: break-word;
}

.close {
    cursor: pointer;
}

.time_block {
    justify-content: start !important;
    gap: 1.5em;
}

.time {
    font-weight: 500 !important;
}
