.review {
    padding: 2.5rem 3.3em;
}

.review__header {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1rem;
}

.review__header-avatar {
    width: 2.75em;
    height: 2.75em;
    display: grid;
    place-items: center;
    background-color: var(--accent);
    border-radius: 50%;
}

.review__grades {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-bottom: 2rem;
}

.review__grade {
    border: 1px solid grey;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    gap: 2em;

    padding: 0.5rem 1.2em;
}

.review__grade-number {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.review__header-time {
    margin-left: auto;
}

.--grade-summary {
    border-color: black;
}