.info-block {
    padding: 2em;
}

.info-block__address .subway {
    margin-top: 0.5rem;
}

.info-block__address {
    margin-bottom: 1.5rem;
}

.addres {
    cursor: alias;
}

.addres:hover h4 {
    color: var(--accent) !important;
}

.info-block__address .addres {
    display: flex;
    gap: 0.8em;
    margin-top: 0.6rem;
    margin-left: 0.2em;
    align-items: center;
}

.info-block__address .addres img {
    width: 1em;
}

.info-block__schedule-container {
    margin-top: 0.5rem;
    display: flex;
    gap: 1em;
    margin-bottom: 2em;

}

.info-block__schedule-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: help;
}

.info-block__schedule-title img {
    opacity: .7;
    width: 1em;
    margin-left: .3em;
}

.info-block .--v2 {
    margin-bottom: 1em;
}

.schedule-block {
    width: 100%;
    height: 1em;
    border-radius: 0.3em;
}

.--weekdays {
    background-color: var(--accent);
}

.--weekends {
    background-color: #D8D8D8;
}

.info-block__wk-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.info-block__wk-block p {
    font-size: 0.625rem;
}

.info-block__wk-block h3 {
    margin-top: 0.2rem;
}
/* 
.JobOffer__price {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5em 0;
    background-color: var(--accent);
    border-radius: 0 0 11px 11px;
} */

.info-block__citizenships {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.info-block__citizenships h3 {
    margin-left: 1em;
}

.info-block__citizenships-block {
    padding: 0.5em;
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    margin-right: 1em;
}

.info-block__sex {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.info-block__sex-block {
    padding: 0.7em;
    background-color: #F5F5F5;
    border-radius: 0.5rem;
    margin-right: 1em;
}

.additional {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 2rem;
}

.wp-main{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wp-main__description {
    background-color: #fff;
    padding: 2rem 3em;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wp-main__specialty {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.wp-main__specialty-block {
    padding: 0.4rem 1.5em;
    background-color: var(--background-main);
    border: 1px solid #979797;
    border-radius: 1.5em;
}

.wp-main__working-info {
    display: flex;
    flex-direction: column;
}

.wp-main__working-info .--row {
    margin-top: 1rem;
    gap: 1.5em;
}

.--icon-square {
    background-color: var(--background-main);
    border: 1px solid #979797;
    width: 3.3em;
    height: 3.3em;
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
}

.wp-main__sidebar {
    width: 100%;
}

.wp-main__sidebar-main {
    background-color: white;
    padding: 2rem 3em;
    border-radius: 0.5rem 0.5rem 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.wp-main__sidebar-main .--row {
    gap: 1em;
}

.wp-main__sidebar-price {
    background-color: var(--accent);
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5em 0;
}

.wp-main__sidebar-main .--icon-square {
    height: auto;
    border: none;
    width: auto;
    padding: 0.6rem 0.6em;
}

.--icon-square .subway p {
    display: none;
}

.--icon-square .subway__icon {
    width: 0.9rem;
    height: 0.9rem;
}

.--icon-square .subway__icon img {
    width: 0.5rem;
    height: 0.5rem;
}

@media (min-width: 450px) {
    .wp-main__sidebar-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 500px) {
    .wp-hr {
        width: calc(100% + 8em) !important;
        left: -4em !important;
    }
}

@media (min-width: 800px) {
    .info-block {
        max-width: 22em;
        min-width: 18em;
    }
    .wp-main__working-info {
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
    }
}

@media (min-width: 1000px) {

    .wp-main {
        flex-direction: row;
    }

    .wp-main__sidebar-main {
        grid-template-columns: 1fr;
    }

    .wp-main__description {
        flex: 7;
    }

    .wp-main__sidebar {
        flex: 3;
    }
}