.job-offer-row {
    padding: 1.2em 2em;

    cursor: pointer;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.job-offer-row__important {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-offer-row__indicator { 
    min-width: 4em;
    height: 4em;
    border-radius: 18%;

    display: grid;
    place-items: center;
    margin-left: 1em;
}

.job-offer-row__address {
    background-color: var(--background-main);
    border-radius: 0.7em;

    padding: .7em 2em;
    /* margin-left: auto; */
    margin: 2em 0;
}

.job-offer-row__address .subway {
    margin-top: 0.5rem;
}

.job-offer-row__time-created {
    display: flex;
    gap: 1em;
}

@media (min-width: 900px) {
    .job-offer-row {
        display: flex;
        align-items: center;
    }

    .job-offer-row__important {
        flex-direction: row-reverse;
        margin-right: auto;
    }

    .job-offer-row__address {
        margin: 0;
        margin-right: 1em;
    }

    .job-offer-row__indicator {
        margin-left: 0;
        margin-right: 1em;
    }
}