<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search demo | HR company</title>
    <link rel="stylesheet" href="./css/find_job.min.css">
    <script src="./js/search.js" defer></script>
</head>
<body>
    <header></header>
    
    <div class="container">

        <section class="search">
            <div class="search__search-bar search-bar">
                <input type="text" name="" class="search-bar__search-input" placeholder="Повар универсал">
                <button class="search-bar__filters"><object data="./img/filter.svg" width="20px" height="20px"></object></button>
                <button class="search-bar__find">Поиск</button>
            </div>
            <div class="search__bubbles bubbles"></div>
            <div class="search__content content">

                <div class="content__column --1"></div> 
                <div class="content__column --2"></div>
                <div class="content__column --3"></div>
                <div class="content__column --4"></div>

            </div>
        </section>

    </div>
    <footer></footer>
</body>
</html>