// Container util
.container {
    margin: 0px auto;
}

// Desktop
@media (min-width: 1300px) {
    .container{
        width: 1300px;
    }
}

// Mobile
@media (max-width: 1330px) {
    .container{
        width: 960px;
    }
}

@media (max-width: 1000px) {
    .container{
        width: 620px;
    }
}

@media (max-width: 650px) {
    .container{
        width: 280px;
    }
}