.card {
    padding: 1.25rem !important;
    min-width: 400px;
}

.header {
    align-items: stretch !important;
}

.label {
    background-color: var(--background-main);
    border-radius: .5rem;
    padding: .5rem;
    gap: .5em;
}

.logo {
    border-radius: 50%;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: var(--accent);
}

.address {
    flex-direction: column;
    align-items: flex-end !important;
    text-align: right;
    gap: .2rem;
}

.city {
    font-size: 0.8rem;
}