.--green {
    background-color: #28782F;
}
.--red {
    background-color: red;
}
.--purple {
    background-color: purple;
}
.--orange {
    background-color: orange;
}
.--blue {
    background-color: aqua;
}