.contact_row {
    gap: 2em;
    flex-direction: column;
}

.email,
.phone {
    width: 100%;
}

@media (min-width: 800px) {
    .contact_row {
        gap: 4em;
        flex-direction: row;
    }

    .email {
        flex: 5;
    }

    .phone {
        flex: 3;
    }
}
