.job-offers__heading {
    margin: 2em 0;
}

.job-offers__title {
    margin-bottom: 1em;
}

.job-offers__add {
    width: 100%;
}

@media (min-width: 850px) {
    .job-offers__heading {
        display: flex;
        justify-content: space-between;
    }

    .job-offers__title {
        margin: 0;
    }

    .job-offers__add {
        width: auto;
    }
}