.chat-container {
    display: grid;
    grid-template-columns: 1fr;
    
}

.chat-title {
    margin: 2rem 0;
}

@media (min-width: 900px) {
    .chat-container {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}