.message-container {
    margin-top: 3em;
}

.message {
    display: flex;
    margin-bottom: 3em;
}

.message__avatar {
    background: blue;
    border-radius: 50%;

    height: 100%;

    padding: .4rem;
    margin-right: 1em;
}

.message__content {
    max-width: 700px;
}

.message__time {
    margin-top: 2em;
    margin-bottom: .6em;
}

@media (min-width: 500px) {
    .message__avatar{
        margin-right: 3em;
    }
}