.chat-card {
    padding: 1.5rem 2em;
    margin: 0.5rem 0;
    cursor: pointer;
}

.chat-card__avatar {
    background-color: var(--background-main);
    border-radius: .5em;

    display: flex;
    align-items: center;

    padding: 2em;

    font-weight: bold;
}

.chat-card__content {
    margin-left: 1.5em;
    gap: 1em;

    width: 100%;
}

.chat-card__last-msg-text {
    background-color: var(--background-main);
    border-radius: .3em;
    padding: 0.5em;

    width: 120px;
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-card__unread-msg-count {
    width: 2rem;
    height: 2rem;
    background-color: var(--accent);
    border-radius: .3em;

    display: grid;
    place-items: center;

    padding: .3em;
    margin-left: 1.5em;
    margin-left: auto;
}
