.lk__container {
    margin: 0;
    width: 100%;
    padding-top: .1em;
}

.lk__section-title {
    margin-top: 6rem;
}

.lk__personal_data {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1.75em;
    margin-top: 2.5rem;
}

.lk__section {
    background-color: white;
    border-radius: 0.5rem;

    margin-top: 2em;
    padding: 2em;
    padding-bottom: 3em;

    width: 100%;
}

.lk__progress-bar {
    display: none;
}

.progress {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
}

.progress__state {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #CACACA;
    border-radius: 50%;
}

.progress__labels {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
    margin-right: 0.2em;
}

.progress__label {
    color: #A2A2A2;
}

.--filled-label {
    color: #000;
}

.--filled-state {
    background-color: var(--accent);
}

.--filled-state #account-info{
    stroke: white;
}

.progress-bar {
    width: 45%;
    position: relative;
}

.bar {
    width: 100%;
    border: 1px solid #CACACA;
    height: 0.7rem;
    border-radius: 0.8rem;
}

.--filled_bar {
    position: absolute;
    background-color: var(--accent);
    top: 0;
    width: 50%;
}

.lk__documents {
    flex: 3;
}

.--lk-citizenships {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.--lk-radio {
    padding: 1em 2em;
    width: 100%;
    cursor: pointer;
}

.--hiden:checked + label {
	border: 2.5px solid var(--accent) !important;
    color: var(--accent);
}

.--status-radio {
    width: 100%;
}

.personal_data__avatar-block {
    background-color: var(--background-main);
    padding: 0.5em;
    border-radius: 50%;
    position: absolute;
    top: -0.5em;
}

.--employer-avatar-block {
    top: -2.2em;
}

.--avatar {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 1px solid black;
    background-color: gold;
}

.lk__contacts {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    flex-direction: column;
}

.--email {
    flex: 5;
}

.--phone {
    flex: 3;
}

.lk__status, .lk__work-status {
    display: flex;
    gap: 1.5em;
    margin-top: 1em;
}

.document {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--background-main);
    border-radius: .6rem;
    padding: 1rem;
    cursor: pointer;
}

.document:hover {
    background-color: rgb(238, 239, 245);
}

.document__icon {
    width: 2em;
    height: 2em;
    /* background-color: #D8D8D8; */
    background-color: var(--accent3);
    border-radius: 50%;
    margin-right: .8rem;
}

.documents__add {
    margin-top: 1rem;
    color: var(--accent);
    cursor: pointer;
}

.documents__add:hover {
    text-decoration: underline;
}

.document__button {
    margin-left: auto;
    cursor: pointer;
}

.lk__basic-info {
    flex: 5;
}

.--role {
    flex: 3;
}

.--company {
    flex: 5;
}

.add-date {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}
.--exp-month {
    margin-left: 0px;
}

.--exp-time-span {
    margin-top: 4rem;
    width: 4.5em;
    display: none;
}

.add-date__block {
    width: 100%;
}

.add-date__inputs {
    display: flex;
}

.--employer-basic-info {
    margin-top: 5em;
    position: relative;
}
.--edit_pencil {
    position: absolute;
    right: 2em;
    top: 2em;
    opacity: 0.4;
}


@media(min-width: 600px) {
    .lk__container {
        width: calc(100% - 5.4rem);
        margin-left: auto;
    }

    .lk__section {
        padding: 2.5em 3.4em;
    }

    .lk__progress-bar {
        display: block;
        padding: 1.5em 3.4em;
    }

    .--status-radio {
        width: auto;
    }

    .--lk-citizenships {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media(min-width: 800px) {
    .lk__contacts {
        flex-direction: row;
        gap: 4em;
    }
}

@media(min-width: 1000px) {
    .add-date__block {
        width: auto;
    }

    .add-date {
        flex-direction: row;
    }

    .experience__add-base-info {
        flex-direction: row;
        gap: 5em;
    }
}

@media(min-width: 1100px) {
    .--exp-time-span {
        display: block;
    }
}

@media (min-width: 1200px) {
    .lk__container {
        width: calc(100% - 300px);
        margin-left: auto;
    }

    .--exp-time-span {
        padding: 0 .5em;
    }
}

@media(min-width: 1300px) {
    .lk__personal_data {
        flex-direction: row;
    }
}