.--page-container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 1rem;
}

.--page-content {
    min-height: 53.49vh;
}

@media (min-width: 500px) {
    .--page-container {
        padding: 0 2em;
    }
}