.search-bar {
    display: flex;
    margin-top: 10%;

    // .search-bar__search-input

    &__search-input {
        padding: 20px 40px;
        border: 2px solid $grey;
        border-radius: 12px;
        width: 100%;
    }

    // .search-bar__filters

    &__filters {
        padding: 20px;
        border-radius: 10px;
        background: $blue;
        color: white;
        border: 2px solid $grey;
        margin-left: 10px;
        cursor: pointer;
    }

    // .search-bar__find

    &__find {
        padding: 20px;
        border-radius: 10px;
        background: $blue;
        color: white;
        border: 2px solid $grey;
        font-weight: 600;
        margin-left: 10px;
        cursor: pointer;
    }

    &__filters:hover, &__find:hover {
        background-color: $accent;
    }
    
}