.card {
    padding: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

.container {
    padding: 1.25rem 1.25em !important;
}

.header {
    align-items: center !important;
    gap: 1em !important;
}

.header h3 {
    color: black;
}

.logo {
    border-radius: 50%;
    border: 1px solid black;
    width: 20px !important;
    min-width: 20px;
    height: 20px !important;
    background-color: var(--accent);
}

.address {
    flex-direction: column;
    align-items: flex-end !important;
    text-align: right;
    gap: 0.2rem !important;
}

.city {
    font-size: 0.8rem;
}

.specialty,
.price {
    color: black;
}
.main_container {
    height: calc(100% - 70px);
}
