.edit-job-offer {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.edit-job-offer .modal-sheet__container {
    margin-bottom: 2rem;
}

.--edit-labels {
    width: auto;
}

.--edit-citizenships {
    display: grid;
    gap: 1em;
    margin-top: 0.6rem;
}

.JobOffer__edit__input {
    margin-top: 0.5rem;
    background-color: transparent;
}

.edit-pricing {
    margin-top: 2rem;
}

.--specialty {
    margin-top: 5rem;
}

.JobOffer__edit-location {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2em;
}

.--address {
    flex: 6;
}

.--subway {
    flex: 4;
}

.--subway-input {
    position: relative;
    z-index: 2;
}

.--subway-input-icon {
    position: relative;
    top: -2.4rem;
    left: 1.2em;
    z-index: 0;
}

#--subway-select::-webkit-calendar-picker-indicator {
    opacity: 0 !important;
}

.--select-arrow {
    position: absolute;
    right: 3em;
    margin-top: 1.9rem;
}

.--subway-input-icon h4{
    display: none;
}

.modal-sheet__edit-pricing {
    margin-top: 3rem;
}

.--salary-input {
    max-width: 6em;
}

.salary-label {
    display: flex;
    gap: 0.5em;
}

.--period {
    position: relative;
    width: 11em;
    top: -2.7rem;
    padding: 0 1.2em;
    border: none;
    z-index: 2;
    opacity: 0;
    margin-left: -6em;
}

.--experience-input {
    max-width: 4em;
}

.edit__range {
    width: 100%;
    height: 1.2rem;
    border-radius: 0.7rem;
    border: 1px solid #979797;
    margin-top: 0.5rem;
}

.edit__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5em;
    height: 1.2rem;
    background: var(--accent);
    border-radius: 0.7rem;
    cursor: pointer;
}

.edit__range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5em;
    height: 1.2rem;
    background: var(--accent);
    border-radius: 0.7rem;
    cursor: pointer;
}

.edit-picing__label-container {
    display: flex;
    justify-content: space-between;
}

.graph {
    display: flex;
    height: 7rem;
    align-items: flex-end;
    gap: 0.2em;
}

.graph__block {
    width: 100%;
    max-width: 0.6em;
    min-width: 0.2em;
    height: 50%;
    background-color: var(--accent3);
    border-radius: 4rem;
}

.edit-experience {
    margin-top: 6rem;
}

.--schedule-input {
    max-width: 4em;
    text-align: center;
}

.edit-schedule {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 2em;
}

.schedule {
    flex: 1;
}

.working-time {
    flex: 1;
}

.schedule__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3em 10%;
    gap: 1em;
}

.schedule__span {
    margin-top: 2em;
}

.--working-time-input {
    max-width: 6em;
}

.sex {
    display: flex;
    gap: 1em;
    margin-top: 0.5rem;
}

.sex .--lk-radio {
    width: auto;
}

.additional {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.additional__age {
    margin-top: 6rem;
}

.additional__description {
    margin-top: 6rem;
}

.additional__textarea {
    padding: 2.5rem 2em;
    min-height: 16rem;
}

.additional__citizenship {
    margin-top: 2rem;
}

.additional__sex {
    margin-top: 2rem;
}

.age__count {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.9em;
}

.--age-input {
    max-width: 5em;
    padding: 0.4rem 0.5em;
    margin-top: 0;
    text-align: center;
}

.sliders_control {
    position: relative;
}

.--age-range {
    position: absolute;
}

#fromSlider {
    height: 0;
    z-index: 1;
    border: none;
}

.edit-buttons {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.edit-buttons button {
    cursor: pointer;
}


.inverse-left, .inverse-right {
    width: 100%;
    background-color: white;
    height: 1.8rem;
    border: 1px solid #979797;
    border-radius: 0.8rem;
    position: absolute;
}

.thumb {
    background-color: var(--accent2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 1.8rem;
    border-radius: 0.4rem;
    gap: 0.4em;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 1;
}

.active {
    background-color: var(--accent);
}

.thumb span {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;           
}

.range {
    width: 99%;
    background-color: var(--accent3);
    height: 1.8rem;
    border-radius: 0.8rem;
}

.sliders_control input[type="range"] {
    width: 100%;
    height: 1.8rem;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
#age_from::-webkit-slider-thumb {
    width: 3em;
    padding: 1.4rem;
}

#age_from::-moz-range-thumb {
    width: 3em;
    padding: 1.4rem;
}
#age_to::-webkit-slider-thumb {
    width: 3em;
    padding: 1.4rem;
}

#age_to::-moz-range-thumb {
    width: 3em;
    padding: 1.4rem;
}

.sliders_control .label_18 {
    margin-left: 13%;
}

.sliders_control .label_21 {
    margin-left: 7%;
}

.sliders_control .label_25 {
    margin-left: 11%;
}

.sliders_control .label_35 {
    margin-left: 28%;
}

.sliders_control .label_45 {
    margin-left: 24%;
}

.sliders_control .label_45a {
    margin-left: auto;
}

@media (min-width: 400px) {
    .thumb {
        border-radius: 0.5rem;
    }
}

@media (min-width: 500px) {
    .--select-arrow {
        right: 5em;
    }
}

@media (min-width: 560px) {
    .graph {
        gap: 0.3em;
    }

    .graph__block {
        width: 100%;
        max-width: 0.6em;
        min-width: 0.3em;
    }

    .--edit-citizenships {
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 580px) { 
    .edit-buttons {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 600px) {

    .edit-buttons button {
        padding: 0.7em 3.2em;
        width: auto;
    }
}

@media (min-width: 620px) {
    .edit-buttons {
        justify-content: flex-end;
        gap: 3em;
        margin-right: 0;
    }
}

@media (min-width: 800px) {
    .edit-schedule {
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
    }

    .schedule__card {
        max-width: 24em;
    }

}

@media (min-width: 850px) {
    .graph {
        justify-content: space-between;
    }

    .JobOffer__edit-location {
        flex-direction: row;
        gap: 3em;
    }
}

@media (min-width: 1000px) {
    .schedule{ 
        flex: none;
    }
    .working-time {
        flex: none;
    }
    .schedule__card {
        padding: 3em 4em;
        width: 24em;
    }
}

@media (min-width: 1120px) {
    .additional {
        flex-direction: row;
        justify-content: space-between;
    }
}