footer {
    background-color: var(--background-header);
    margin-top: 15rem;
}

footer .--page-container {
    display: flex;
    flex-direction: column;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    margin-top: 4rem;
}

.footer__links p {
    margin: 2rem 0;
}

@media (min-width: 600px) {
    footer .--page-container {
        flex-direction: row;
        justify-content: space-between;
    } 
    .footer__links {
        flex-direction: row;
    } 
    .footer__logo {
        margin-top: 2rem;
    }
    .links__c1 {
        margin-right: 5em;
    }
}