.find-workers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin-top: 2rem;
}

.find-workers .worker-card {
    margin: 0;
    width: 100%;
}

@media (min-width: 500px) {
    .find-workers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .find-workers {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1400px) {
    .find-workers {
        grid-template-columns: repeat(4, 1fr);
    }
}