.label {
	text-transform: uppercase;
	font-weight: 500;

	padding: 1em 0;
}

.title {
	text-transform: uppercase;
	font-weight: bold;
}

.card_padding {
	padding: 0 1em; 
}

@media (min-width: 600px) {
	.card_padding {
		padding: 0 3em; 
	}
}

@media (min-width: 1000px) {
	.card_padding {
		width: 1000px;
		margin: 0 auto;
	}
}