.display_experience {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 2em;
}

.experience__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.experience__company {
    background-color: var(--background-main);
    padding: 0.5rem 1em;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.experience__data {
    display: flex;
}
.experience__content {
    max-width: 80%;
}

.experience__add {
    margin-top: 2em;
    padding: 1em;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.--time_span {
    margin: 0 1.5em;
}

.experience__add-base-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.experience__text {
    /* max-width: 60%; */
    word-wrap: normal;
}

.experience__delete {
    position: relative;
}

.experience__delete #Group-4-Copy path {
    fill: #8b8b8b;
}

.experience__delete #Group-4-Copy rect {
    fill: #8b8b8b;
}

.experience__delete:hover #Group-4-Copy path {
    fill: red;
}

.experience__delete:hover #Group-4-Copy rect {
    fill: red;
}