.day {
    flex: 2;
    text-align: center;
    padding: 0.9em 0;
}

.month {
    flex: 6;
    padding: 0.9em 0;
    margin: 0 1em;
}

.year {
    flex: 3;
    text-align: center;
    padding: 0.9em 0;
}

.citizenship {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

@media (min-width: 450px) {
    .citizenship {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}