.inputs {
    flex-direction: column;
    gap: 1rem;
}

.city, .subway {
    width: 100%;
}

.address {
    margin-top: 1rem;
}

@media (min-width: 900px) {
    .inputs {
        flex-direction: row;
        gap: 5rem;
    }

    .city {
        flex: 2;
    }

    .subway {
        flex: 3;
    }
}