.sidebar {
    position: fixed;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #fff;
    padding-bottom: 2rem;
}

.sidebar hr {
    margin-top: 2em;
}

.sidebar__header {
    background-color: var(--background-header);
    display: flex;
    
    flex-direction: column;
    align-items: center;

    position: relative;
}

.sidebar__logo {
    width: 2.5em;
    height: 2.5em;
    margin-top: 1rem;
    border-radius: 50%;
    background-color: #fff;
}

.sidebar__name {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.navigation__link {
    display: flex;
    align-items: center;

    margin: 0 1.75em;
    margin-top: 2rem;

    padding: 0.6em 1.2em;
    border-radius: 0.5em;
}

.link__name {
    margin-left: 1.2em;
}

.link__notify {
    margin-left: auto;
    
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: var(--accent);

    background-color: #E4EAF2;
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
}

.--selected {
    background-color: var(--accent);
}

.--selected .link__name {
    color: #fff;
}

.--selected .link__notify {
    background-color: #fff;
}

.--selected svg path {
    fill: #fff;
}

.--selected #Chat-Oval {
    fill: #fff;
}

.--selected #Group {
    stroke: #fff;
}

.--selected #ShapeWorkerBank {
    stroke: #fff;
}

.--selected #Path {
    fill: none;
}

.--sidebar-min {
    min-width: 0;
}

.sidebar__arrow {
    background-color: white;
    padding: .7em;
    border-radius: 50%;
    margin: 1em 0;
    cursor: w-resize;
    position: absolute;
    right: -1.5em;
    transform: rotate(0);
    display: none;
}

.--sidebar-min .sidebar__arrow {
    transform: rotate(180deg);
    position: static;
    cursor: e-resize;
}

.--sidebar-min .navigation__link{
    margin: 0 0.75em;
    margin-top: 2em;
}

@media (min-width: 600px) {

    .sidebar__arrow {
        display: block;
    }

    .sidebar {
        display: flex;
        box-shadow: 10px 3px 20px rgba(42, 44, 62, 0.2);
        max-width: 300px;
    }

    .--sidebar-min {
        box-shadow: none;
        width: auto
    }

    .--sidebar-min .link__notify{
        display: none;
    }
    
    .--sidebar-min .link__name {
        display: none;
    }

    .--sidebar-min .sidebar__logo {
        display: none;
    }
    
    .--sidebar-min .sidebar__name {
        display: none;
    }

}

@media (min-width: 1200px) {

    .sidebar {
        box-shadow: none;
    }

    .sidebar__arrow {
        display: none;
    }

    .--sidebar-min {
        min-width: 300px;
    }

    .--sidebar-min .link__notify{
        display: block;
    }
    
    .--sidebar-min .link__name {
        display: block;
    }

    .--sidebar-min .sidebar__name {
        display: block;
    }

    .--sidebar-min .sidebar__logo {
        display: block;
    }

}
